@model QuestionViewModel

@if(Model.Medication != null)
{
    <div id="question" class="interview" hidden>
        <p><b>@Model.Medication.Name</b></p>
        <p>@Model.Question.Information.QuestionText</p>
        @Html.Hidden("hidden-medicationId", Model.Medication.Id)
        @Html.Hidden("hidden-questionId", Model.Question.Id)
        @{
            Html.RenderPartial("_Response", Model.Question);
        }
    </div>
}

