@model Question

@if(Model.Id == "CNFRM_Q1")
{
    <input type="radio" id="yes" name="gender" value="1">
    <label for="yes">Yes</label><br>
    <input type="radio" id="no" name="gender" value="0">
    <label for="no">No</label><br>

}