
@model RespondentViewModel

<div>
    @{
        var medication = Model.Medications.GetCurrentItem();

        var question = (Question)Model.Medications.CallBlock.GetNextElement();

        Html.RenderPartial("_Question", new QuestionViewModel() { Question = question, Medication = medication});
    }


</div>

